<!-- Sidebar -->
<nav class="sidebar" data-trigger="scrollbar">
    <!-- Sidebar Header -->
    <div class="sidebar-header d-none d-lg-block">
       <!-- Sidebar Toggle Pin Button -->
       <div class="sidebar-toogle-pin">
          <i class="icofont-tack-pin"></i>
       </div>
       <!-- End Sidebar Toggle Pin Button -->
    </div>
    <!-- End Sidebar Header -->

    <!-- Sidebar Body -->
    <div class="sidebar-body">
       <!-- Nav -->
       <ul class="nav">
          <!-- <li class="nav-category">Main</li> -->
          <li class="active">
             <a href="/">
               <i class="fas fa-th-large"></i>
                <span class="link-title">Dashboard</span>
             </a>
          </li>
          <li>
             <a href="javascript:void(0);">
                <i class="icofont-users"></i>
                <span class="link-title">Users Management</span>
             </a>

             <!-- Sub Menu -->
             <ul class="nav sub-menu">
                <li><a href="/users">Users</a></li>
                <!-- <li><a href="/users/add">Add User</a></li> -->
             </ul>
             <!-- End Sub Menu -->
          </li>

          <li>
            <a href="javascript:void(0);">
               <i class="fas fa-book-open"></i>
               <span class="link-title">Category Management</span>
            </a>

            <!-- Sub Menu -->
            <ul class="nav sub-menu">
               <li><a href="/categories">Category</a></li>
               <!-- <li><a href="/users/add">Add User</a></li> -->
            </ul>
            <!-- End Sub Menu -->
         </li>

          <li>
            <a href="javascript:void(0);">
               <i class="fas fa-book-open"></i>
               <span class="link-title">Chapter Management</span>
            </a>

            <!-- Sub Menu -->
            <ul class="nav sub-menu">
               <li><a href="/chapters">Chapters</a></li>
               <!-- <li><a href="/users/add">Add User</a></li> -->
            </ul>
            <!-- End Sub Menu -->
         </li>
         <li>
            <a href="javascript:void(0);">
               <i class="fas fa-dharmachakra"></i>
               <span class="link-title">Prayer Management</span>
            </a>

            <!-- Sub Menu -->
            <ul class="nav sub-menu">
               <li><a href="/prayers">Prayer</a></li>
               <!-- <li><a href="/users/add">Add User</a></li> -->
            </ul>
            <!-- End Sub Menu -->
         </li>
         <li>
            <a href="javascript:void(0);">
               <i class="fas fa-question"></i>
               <span class="link-title">Question Management</span>
            </a>

            <!-- Sub Menu -->
            <ul class="nav sub-menu">
               <li><a href="/questions">Questions</a></li>
               <!-- <li><a href="/users/add">Add User</a></li> -->
            </ul>
            <!-- End Sub Menu -->
         </li>
         <li>
            <a href="javascript:void(0);">
               <i class="fas fa-money-check-alt"></i>
               <span class="link-title">Payment Management</span>
            </a>
            <ul class="nav sub-menu">
               <!-- <li><a href="/payments">Payment List</a></li> -->
               <li><a href="/payments/android-subscription">Android Subscription</a></li>
               <li><a href="/payments/subscription">Apple Subscription</a></li>
   
            </ul>
         </li>
      <li>

         <a href="javascript:void(0);">
            <i class="fa-solid fa-file-word"></i>
             <span class="link-title">Manage CMS Pages
            </span>
         </a>
         <ul class="nav sub-menu">
            <li><a href="/cms/privacy-policy">Privacy Policy</a></li>
            <li><a href="/cms/about-us">About us</a></li>
            <li><a href="/cms/term-condition">Terms & Conditions</a></li>
            <li><a href="/cms/faq">FAQ</a></li>
         </ul>
     </li>
        <!-- <li class="active">
            <a href="/settings">
               <i class="icofont-ui-settings"></i>
               <span class="link-title">App Version</span>
            </a>
        </li>   -->
        <li><a href="/profile"><i class="fas fa-address-card"></i><span class="link-title"> My Profile </span></a></li>
        <li><a href="/change-password"><i class="fas fa-key"></i><span class="link-title"> Change Password </span></a></li>
        <li><a href="/auth/log-out"><i class="icofont-logout"></i><span class="link-title"> Logout </span></a></li>
       </ul>
       <!-- End Nav -->
    </div>
    <!-- End Sidebar Body -->
 </nav>
 <!-- End Sidebar -->